<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log">Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search foods.." aria-label="Search">
          <button class="btn btn-link" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>
        <!--Jumbotron-->
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-6">Calorie Kingz</h1>
            <form>
              <div class="form-row">
                <div class="col-2">
                  <input type="text" class="form-control" id="name" name="name" placeholder="name">
                </div>
                <div class="col-7">
                  <input type="text" class="form-control" id="food" name="food" placeholder="Search Foods...">
                </div>
                <div class="col">
                  <select class="custom-select" id="mealType" name="mealType">
                      <option selected>Choose...</option>
                      <option value="1">Breakfast</option>
                      <option value="2">Lunch</option>
                      <option value="3">Dinner</option>
                      <option value="4">Snacks</option>
                    </select>
                </div>
                <div class="col">
                  <button type= "button" class="btn btn-primary"  onclick="createModal()" data-toggle="modal" data-target="#exampleModal">Submit</button>
                </div>
              </div>
            </form>
          </div>   
      </div>
        
        <div class="container">
          <div id="choicesGoHere">
            <div class="card">
                <div class="card-header">
                  <strong>Food Diary</strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>Name</th>
                            <th>Calories</th>
                        </thead>
                    </table>
                  
                </div>
            </div>
          </div>
        </div>