<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
      <div id="logo"><span>Calorie </span><i class="fad fa-crown"></i> Kingz</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log">Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <button type="button" class="btn btn-link">Sign Out</button>
      </div>
    </nav>
</header>
        <!--Jumbotron-->
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-6">Calorie <i class="fad fa-crown"></i> Kingz</h1><hr>
            <p class="lead">Please enter your name and search for foods to enter into your log!</p>
            <form>
              <div class="form-row">
                <div class="col-2">
                  <input type="text" class="form-control" id="name" name="name" placeholder="name">
                </div>
                <div class="col-7">
                  <input type="text" class="form-control" id="food" name="food" placeholder="Search Foods...">
                </div>
                <div class="col">
                  <select class="custom-select" id="mealType" name="mealType">
                      <option selected>Choose...</option>
                      <option value="Breakfast">Breakfast</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                      <option value="Snacks">Snacks</option>
                    </select>
                </div>
                <div class="col">
                  <button type= "button" class="btn btn-primary"  onclick="createModal()" data-toggle="modal" data-target="#exampleModal">Submit <i class="fas fa-utensils"></i></button>
                </div>
              </div>
            </form>
          </div>   
      </div>
        
        <div class="container">
          <div id="choicesGoHere">
            
          </div>
        </div>
        <div class="container">
           <div class="row">
            <!--Diary Table-->
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Breakfast</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Lunch</h5>
                  <div id="lunch">
                    
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dinner</h5>
                  <div id="dinner">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Snacks</h5>
                  <div id="snacks">
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>