<header>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search foods.." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button type="button" class="btn btn-primary">Sign In</button>
        <button type="button" class="btn btn-secondary">Join</button>
      </div>
    </nav>
</header>

    <div class="container">
      <div class="card">
        <h4>User Info</h4>
        <hr>
        <div class="class-body">
          <form>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="userName">Name</label>
                <input type="text" class="form-control" id="userName">
              </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="userEmail">Email</label>
                  <input type="text" class="form-control" id="userEmail">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="userPassword">Password</label>
                    <input type="text" class="form-control" id="userPassword">
                  </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label for="userAge">Age</label>
                  <input type="text" class="form-control" id="userAge">
                </div>
                <div class="col-md-3 mb-3">
                  <label for="userGender">Gender</label>
                  <select class="custom-select" id="userGender">
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                    <option>Female</option>
                    <option>Male</option>
                  </select>
                </div>
                <div class="col-md-2 mb-3">
                  <label for="userHeight">Height</label>
                  <input type="text" class="form-control" id="userHeight">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="userWeight">Weight</label>
                    <input type="text" class="form-control" id="userWeight">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="userGoalWeight">Goal Weight</label>
                    <input type="text" class="form-control" id="userGoalWeight">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    
    </div>